main svg {
    margin: 1em;
}

.floating-button {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    right: 5%;
    bottom: 12%;
    z-index: 10;
}

.fontW {
    color:#fff;
}

.fontB {
    color:#227BE4;
}

.fontR {
    color: #A42023;
}

.fontP {
    color: #FCE8EA;
}

.gray {
    color: #DFE0E2;
}

.fontSB {
    color: #D6E3FC;
}

.bg-image {
    width: auto;
    height: 100%;
}

.bar {
    background-color: #fff;
    min-height: 8vh;
}

/* -------------------------------- */

#p1 .bar {
    min-height: 8vh;
    border-bottom: 1px solid #ced4da;
}

#p1 .btn {
    width: 6em;
    min-height: 4em;
    border-radius: 45px;
    background-color: #357EE7;
    color: #fff;
    font-size: medium;
    position: absolute; 
    right: 1em; 
    bottom: 1em;
}

#p2 .container {
    padding: 1em;
}

#p2 .bar {
    border-bottom: 1px solid #ced4da;
}

#p5 .text_box,
#p4 .text_box,
#p2 .text_box {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 5px;
}

#p2 .btn {
    border: 2px solid #e0e0e0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#p2 .scroller {
    height: 79vh;
}

#p3 .btn_top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 12em;
    min-height: 8em;
    background-color: #286FD7;
    border-radius: 15px;
}

#p3 .btn_under {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 12em;
    min-height: 8em;
    background-color: #1D467E;
    border-radius: 15px;
}

#p4 .form-control {
    border-radius: 0;
    border: 0;
    /* padding-left: 3em;; */
}

#p4 .form {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-top: 0.5em;
}

#p4 .btn {
    font-size: large;
    width: 100%;
    min-height: 8vh;
    background-color: #C8C8C8;
}

#p5 .container,
#p4 .container {
    padding: 1em;
}

#p3 .scroller,
#p4 .scroller,
#p5 .scroller,
#p8 .scroller {
    height: 79vh;
}

#p7 .icon,
#p6 .icon,
#p4 .icon {
    width: 2em;
    height: 2em;
}

#p7 .stop_btn,
#p6 .stop_btn {
    border: 1px solid #e0e0e0;
    padding: 0.5em;
    border-radius: 25px;
}

#p7 .middle,
#p6 .middle {
    height: 100%;
    background-color: #FBFBFB;
}

#p7 .pink_box,
#p6 .pink_box {
    background-color: #FADADD;
    border-radius: 20px;
    margin-left: 1.5em;
}

#p7 .under_bar,
#p6 .under_bar {
    min-height: 4vh;
    background-color: #fff;
}

#p7 .input_bar,
#p6 .input_bar {
    min-height: 2vh;
    padding: 0.5em;
    background-color: #F4F0F1;
    border-radius: 25px;
}

#p7 .dot,
#p6 .dot {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: #B95C57;
}

#p7 .red_box {
    background-color: #B75C54;
    border-radius: 20px;
    margin-right: 1.5em;
}

#p6 .top_dot,
#p7 .top_dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: #F28D9B;
    border-radius: 100%;
}


#p8 .gray_bar {
    border-radius: 25px;
    background-color: #F4F0F1;
    padding: 0.5em;
    
}

#p8 .box {
    background-color: #2587DE;
    color: #fff;
    padding: 1em;
    min-height: 20em;
    border-radius: 15px;
}

#p8 .dot {
    width: 2em;
    height: 2em;
    border-radius: 60%;
    background-color: #1D79C2;
}

#p8 .container {
    padding-left: 4em;
    padding-right: 4em;
}

#p8 .border_b {
    border-bottom: 1px solid;
    
}