main svg {
    margin: 1em;
}

.floating-button {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    right: 5%;
    bottom: 12%;
    z-index: 10;
}

.fontW {
    color:#fff;
}

.fontB {
    color:#227BE4;
}

.fontR {
    color: #A42023;
}

.fontP {
    color: #FCE8EA;
}

.gray {
    color: #DFE0E2;
}

.fontSB {
    color: #D6E3FC;
}

.bg-image {
    width: auto;
    height: 100%;
}

.bar {
    background-color: #fff;
    min-height: 8vh;
}

/* -------------------------------- */
#p1 svg {
    margin: 0;
    width: 1.3em;
    height: 1.3em;
}

#p1 .top {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    padding-top: .7em;
    padding-bottom: .7em;
}

#p1 .top .left {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#p1 .top .left svg {
    margin-right: .7em;
}

#p1 .top .left .link {
    flex: 1;
    height: 100%;
    background: #F6ECEB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#p1 .top .left .link svg {
    width: 1em;
    height: 1em;
    margin-right: .5em;
}

#p1 .top .right {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#p1 .top .right svg {
    margin-left: 1em;
}

/* -------------------------------- */

#p2 .bar {
    min-height: 8vh;
    border-bottom: 1px solid #ced4da;
}

#p2 .btn {
    width: 6em;
    min-height: 4em;
    border-radius: 45px;
    background-color: #357EE7;
    color: #fff;
    font-size: medium;
    position: absolute; 
    right: 1em; 
    bottom: 1em;
}

#p3 .container {
    padding: 1em;
}

#p3 .bar {
    border-bottom: 1px solid #ced4da;
}

#p6 .text_box,
#p5 .text_box,
#p3 .text_box {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 5px;
}

#p3 .btn {
    border: 2px solid #e0e0e0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#p3 .scroller {
    height: 79vh;
}

#p4 .btn_top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 12em;
    min-height: 8em;
    background-color: #286FD7;
    border-radius: 15px;
}

#p4 .btn_under {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 12em;
    min-height: 8em;
    background-color: #1D467E;
    border-radius: 15px;
}

#p5 .form-control {
    border-radius: 0;
    border: 0;
    /* padding-left: 3em;; */
}

#p5 .form {
    height: 7vh;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-top: 0.5em;
}

#p5 .btn {
    font-size: large;
    width: 100%;
    height: 7vh;
    background-color: #C8C8C8;
}

#p5 .banner {
    height: auto;
    width: 100%;
    border: 0;
}

#p5 .tab_bottom {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

#p5 .tab_bottom .item {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}
#p5 .tab_bottom .item:not(:last-child) {
    border-right: 1px solid #ced4da;
}

#p5 .tab_bottom .item .txt {
    flex: 1;
}

#p5 .tab_bottom .item svg {
    width: 2em;
    height: auto;
    margin: 0;
    margin-right: .5em;
}

/* ------------------------------------- */
#p6 .container,
#p5 .container {
    padding: 1em;
}

#p4 .scroller,
#p5 .scroller,
#p6 .scroller,
#p9 .scroller {
    height: 79vh;
}

#p8 .icon,
#p7 .icon {
    width: 2em;
    height: 2em;
    border: unset;
}

#p8 .stop_btn,
#p7 .stop_btn {
    border: 1px solid #e0e0e0;
    padding: 0.5em;
    border-radius: 25px;
}

#p8 .middle,
#p7 .middle {
    height: 100%;
    background-color: #FBFBFB;
}

#p8 .pink_box,
#p7 .pink_box {
    background-color: #FADADD;
    border-radius: 20px;
    margin-left: 1.5em;
}

#p8 .under_bar,
#p7 .under_bar {
    min-height: 4vh;
    background-color: #fff;
}

#p8 .input_bar,
#p7 .input_bar {
    width: 75%;
    min-height: 2vh;
    padding: 0.5em;
    padding-left: 1em;
    background-color: #F4F0F1;
    border-radius: 25px;
}

#p8 .dot,
#p7 .dot {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: #B95C57;
}

#p8 .red_box {
    background-color: #B75C54;
    border-radius: 20px;
    margin-right: 1.5em;
}

#p7 .top_dot,
#p8 .top_dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: #F28D9B;
    border-radius: 100%;
}


#p9 .gray_bar {
    border-radius: 25px;
    background-color: #F4F0F1;
    padding: 0.5em;
    
}

#p9 .box {
    background-color: #2587DE;
    color: #fff;
    padding: 1em;
    min-height: 20em;
    border-radius: 15px;
}

#p9 .dot {
    width: 2em;
    height: 2em;
    border-radius: 60%;
    background-color: #1D79C2;
}

#p9 .container {
    padding-left: 4em;
    padding-right: 4em;
}

#p9 .border_b {
    border-bottom: 1px solid;
    
}