.btn-r {
    color: #fff!important;
    background: #F86253!important;
    border-radius: 0!important;
  }

.btn-r button {
    color: #fff!important;
    background: #F86253!important;
    border-radius: 0!important;
  }

.btn-outline-r {
    background: #fff;
    border-color: #F86253!important;
    color: #F86253!important;
    border-radius: 0;
}

.btn-gray {
    background: #737780!important;
    color: #fff!important;
    border-radius: 0!important;
}

.text-lightgray {
    color:#D1D1D1;
}

.text-gray {
    color: #737780;
}

.text-r {
    color: #F86253!important;
    display: contents;
}

.fontP {
    color: #3617CD;
}

#modal_ .content .title {
    font-weight: bold;
    margin-bottom: .5em;
  }
  
  #modal_ .btn_wrap {
  width: 100%;
  /* border-top: 1px solid #ced4da; */
  }
  
  #modal_ .btn_wrap .btn {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.top {
    height: 7vh;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.top svg {
    width: 1.5em;
    height: 1.5em;
}

/* .under_bar .btn.left {
    background: #989CA5;
    color: #fff;
} */

.bg-lightgray {
    width: 100%;
    background: #F5F5F5;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.page_wrap {
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal_ svg{
    width: 1.5em;
    height: 1.5em;
    margin-bottom: 1em;
}

.modal_bottom_wrap{
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
}

.modal_bottom_wrap .left {
    color: #757575;
}

#modal_ .content svg,
.modal_bottom_wrap .btn_wrap .tab {
    color: #009688;
}

.modal_bottom_wrap .btn_wrap {
    flex-direction: column;
    border: 0;
}

.modal_bottom_wrap .btn_wrap .tab {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.text-xs {
    font-size: x-small;
}

/* --------------------------------------------- */

#p1 .tab {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#p1 .fw-bold {
    display: contents;
}

#p1 .tab .left {
    width: fit-content;
    padding-right: 1em;
    display: flex;
    align-items: flex-start;
}

#p1 .tab .left > svg {
    width: 1.5em;
    height: auto;
}

#p1 .tab .right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#p1 .under_bar .btn {
    min-height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p1 .bg-lightgray {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#p1 .scroller {
    height: 74vh;
}

/* ------------------------------------------------------ */
#p3 .under_bar {
    min-height: 15%;
    align-items: flex-start;
}

#p3 .btn{
    min-height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------------------------------------------------- */
#p4{
    background: #F4F4F4;
}

#p4 .top,
#p4 .tab_wrap {
    background: #fff;
}

#p4 .tab_wrap {
    height: fit-content;
}

#p4 .banner {
    min-height: 21vh;
}

#p4 .tab_bar {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #fff;
}

#p4 .tab_bar .tab {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p4 .tab_bar .tab .icon {
    height: 100%;
    border: 0;
}

#p4 .tab_bar .tab.selected {
    padding-left: .5em;
    padding-right: .5em;
    border-bottom: 3px solid #F86253;
}

#p4 .icon_area{
    width: 100%;
    min-height: 20vh;
    justify-content: space-around;
}

#p4 .icon_area .icon_wrap {
    width: 100%;
}

#p4 .icon_area .icon_wrap .wrapper {
    width: 25%;
    min-height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#p4 .icon_area .icon_wrap .icon {
    width: 1.5em;
    height: 1.5em;
    border: 0;
}

#p4 .icon_area .icon_wrap .wrapper > svg {
    width: 1.5em;
    height: 1.5em;
}

#p4 .container .tab {
    width: 100%;
    min-height: 5vh;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    margin-bottom: 1.5em;
}

#p4 .container .tab_bar {
    width: 100%;
    min-height: 5vh;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1em;
    margin-bottom: 1.5em;
}

#p4 .container .tab_bar .tab_title {
    display: flex;
    align-items: center;
}

#p4 .container .tab_bar .tab_title > svg {
    width: 1em;
    height: 1em;
    font-weight: normal;
    margin-left: .5em;
}

#p4 .container svg {
    width: 1.3em;
    height: 1.3em;
}

#p4 .container .img_area {
    width: 100%;
    height: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#p4 .container .img_area .img_wrap {
    width: 30%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#p4 .container .img_area .img_wrap .image {
    min-height: 8em;
    width: auto;
    margin-bottom: .5em;
}

#p4 .phone {
    width: 5em !important;
}

/* ------------------------------------------------------------------ */
#p5 .top ,
#p8 .top ,
#p9 .top {
    background: #F7645D;
    color: #fff;
    height: unset;
    display: flex;
    flex-direction: column;
}

#p5 .top .svg ,
#p8 .top .svg ,
#p9 .top .svg {
    width: 1em;
    height: 1em;
}

#p5 .top .icon_wrap ,
#p8 .top .icon_wrap ,
#p9 .top .icon_wrap {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p5 .top .icon_wrap .text-sm ,
#p8 .top .icon_wrap .text-sm ,
#p9 .top .icon_wrap .text-sm {
    margin-top: .5em;
}

#p5 .tab ,
#p8 .tab ,
#p9 .tab,
#p10 .tab {
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#p5 .tab .left ,
#p8 .tab .left ,
#p9 .tab .left ,
#p10 .tab .left {
    flex:1;
    display: flex;
    align-items: center;
}


#p5 .tab .left > svg ,
#p8 .tab .left > svg ,
#p9 .tab .left > svg ,
#p10 .tab .left > svg {
    width: 1.2em;
    height: 1.2em;
    color: #737780;
    margin-right: .5em;
}

#p5 .tab .right > svg,
#p8 .tab .right > svg,
#p9 .tab .right > svg,
#p10 .tab .right > svg,
#p5 .bg-lightgray svg ,
#p8 .bg-lightgray svg ,
#p9 .bg-lightgray svg ,
#p10 .bg-lightgray svg {
    width: 1em;
    height: 1em;
}


#p5 .tab .right ,
#p8 .tab .right ,
#p9 .tab .right ,
#p10 .tab .right {
    font-weight: bold;
    min-width: fit-content;
}

#p5 .bg-lightgray ,
#p8 .bg-lightgray ,
#p9 .bg-lightgray ,
#p10 .bg-lightgray {
    height: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#p5 .form ,
#p8 .form ,
#p9 .form {
    align-items: center;
    padding: 0;
    min-height: 5vh;
    border-bottom: 1px solid #ced4da;
}
/* -------------------------- */
#p6 input::placeholder {
  color: #EDEDED;
  opacity: 1; /* Firefox */
}

#p6 input:-ms-input-placeholder { 
    /* Internet Explorer 10-11 */
 color: #EDEDED;
}

#p6 input::-ms-input-placeholder { 
    /* Microsoft Edge */
 color: #EDEDED;
}

#p6 .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#p6 .form .form-control {
    min-height: 5vh;
    border: 1px solid #E0E0E0;
    margin-top: .3em;
}

#p6 .btn {
    background: #EDEDED;
    color: #B6B6B6;
    border: 1px solid #E0E0E0;
    margin-top: 1.5em;
}

#p6 .tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
}

/* ------------------- */

#p7 .container {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#p7 .tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#p7 input::placeholder {
    color: #B6B6B6;
    opacity: 1; /* Firefox */
  }
  #p7 input:-ms-input-placeholder { 
      /* Internet Explorer 10-11 */
   color: #B6B6B6;
  }
  #p7 input::-ms-input-placeholder { 
      /* Microsoft Edge */
   color: #B6B6B6;
  }

#p7 .form-control {
    background: #EDEDED;
    border: 0;
    min-height: 5vh;
}

#p7 .btn {
    min-height: 7vh;
}

/* ------------------ */
#p9 .bg-lightgray.detail,
#p10 .bg-lightgray.detail {
    height: unset;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    padding: unset;
}

#p9 .bg-lightgray.detail .tab {
    min-height: 5vh;
}

/* -------------------- */
#p10 .tab.data {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

#p10 .tab.data .left {
    flex: unset;
    width: 20%;
}

#p10 .tab.data .right {
    width: 80%;
}

#p10 .tab.data .fw-bold {
    display: contents;
}

#p10 .bg-lightgray.detail .tab {
    min-height: 3vh;
    justify-content: flex-start;
}

#p10 .icon {
    border: unset;
}