.btn-r {
    color: #fff!important;
    background: #F86253!important;
    border-radius: 0!important;
  }

.btn-outline-r {
    background: #fff;
    border-color: #F86253!important;
    color: #F86253!important;
    border-radius: 0;
}

.btn-gray {
    background: #737780!important;
    color: #fff!important;
    border-radius: 0!important;
}

.text-lightgray {
    color:#D1D1D1;
}

.text-gray {
    color: #737780;
}

.text-r {
    color: #F86253!important;
}

#modal_ .content .title {
    font-weight: bold;
    margin-bottom: .5em;
  }
  
  #modal_ .btn_wrap {
  width: 100%;
  /* border-top: 1px solid #ced4da; */
  }
  
  #modal_ .btn_wrap .btn {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.top {
    height: 7vh;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.top svg {
    width: 1.5em;
    height: 1.5em;
}

/* .under_bar .btn.left {
    background: #989CA5;
    color: #fff;
} */

.bg-lightgray {
    width: 100%;
    background: #F5F5F5;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.page_wrap {
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal_ svg{
    width: 1.5em;
    height: 1.5em;
    margin-bottom: 1em;
}

.modal_bottom_wrap{
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
}

.modal_bottom_wrap .left {
    color: #757575;
}

#modal_ .content svg,
.modal_bottom_wrap .btn_wrap .tab {
    color: #009688;
}

.modal_bottom_wrap .btn_wrap {
    flex-direction: column;
    border: 0;
}

.modal_bottom_wrap .btn_wrap .tab {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* --------------------------------------------- */

#p1 .tab {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.fw-bold {
    display: contents;
}

#p1 .tab .left {
    width: fit-content;
    padding-right: 1em;
    display: flex;
    align-items: flex-start;
}

#p1 .tab .left > svg {
    width: 1.5em;
    height: auto;
}

#p1 .tab .right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#p1 .under_bar .btn {
    min-height: 6vh;
    
}

#p1 .bg-lightgray {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#p1 .scroller {
    height: 74vh;
}

/* ------------------------------------------------------ */
#p3 .under_bar {
    min-height: 15%;
    align-items: flex-start;
}

#p3 .btn{
    min-height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------------------------------------------------- */
#p4{
    background: #F4F4F4;
}

#p4 .top,
#p4 .tab_wrap {
    background: #fff;
}

#p4 .tab_wrap {
    height: fit-content;
}

#p4 .banner {
    min-height: 23vh;
}

#p4 .tab_bar {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #fff;
}

#p4 .tab_bar .tab {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p4 .tab_bar .tab .icon {
    height: 100%;
    border: 0;
}

#p4 .tab_bar .tab.selected {
    padding-left: .5em;
    padding-right: .5em;
    border-bottom: 3px solid #F86253;
}

#p4 .icon_area{
    width: 100%;
    min-height: 20vh;
    justify-content: space-around;
}

#p4 .icon_area .icon_wrap {
    width: 100%;
}

#p4 .icon_area .icon_wrap .wrapper {
    width: 25%;
    min-height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#p4 .icon_area .icon_wrap .icon {
    width: 1.5em;
    height: 1.5em;
    border: 0;
}

#p4 .icon_area .icon_wrap .wrapper > svg {
    width: 1.5em;
    height: 1.5em;
}

#p4 .container .tab {
    width: 100%;
    min-height: 5vh;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    margin-bottom: 1.5em;
}

#p4 .container .tab_bar {
    width: 100%;
    min-height: 5vh;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1em;
    margin-bottom: 1.5em;
}

#p4 .container .tab_bar .tab_title {
    display: flex;
    align-items: center;
}

#p4 .container .tab_bar .tab_title > svg {
    width: 1em;
    height: 1em;
    font-weight: normal;
    margin-left: .5em;
}

#p4 .container svg {
    width: 1.3em;
    height: 1.3em;
}

#p4 .container .img_area {
    width: 100%;
    height: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#p4 .container .img_area .img_wrap {
    width: 30%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#p4 .container .img_area .img_wrap .image {
    min-height: 8em;
    width: auto;
    margin-bottom: .5em;
}

/* ------------------------------------------------------------------ */
#p5 .top {
    background: #F7645D;
    color: #fff;
    height: unset;
    display: flex;
    flex-direction: column;
}

#p5 .top .svg {
    width: 1em;
    height: 1em;
}

#p5 .top .icon_wrap {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p5 .top .icon_wrap .text-sm {
    margin-top: .5em;
}

#p5 .tab {
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#p5 .tab .left {
    flex:1;
}


#p5 .tab .left > svg {
    width: 1.2em;
    height: 1.2em;
}

#p5 .tab .right > svg,
#p5 .bg-lightgray svg {
    width: 1em;
    height: 1em;
}


#p5 .tab .right {
    font-weight: bold;
    min-width: fit-content;
}

#p5 .bg-lightgray {
    height: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#p5 .form {
    align-items: center;
    padding: 0;
    min-height: 5vh;
    border-bottom: 1px solid #ced4da;
}

/* ------------------ */
#p12 .pg_top {
    width: 100%;
    height: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


#p12 .pg_top .top {
    height: 25vh;
}

#p12 .pg_top .nav .nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#p12 .form {
    padding: 0;
    border: solid 1px #ccc;
}

#p12 .form .form-control {
    border: 0;
    border-radius: 0;
}

#p12 .form .form-select {
    border: 0;
    border-right: 1px solid #ccc;
    border-radius: 0;
    width: unset;
}

#p12 .form .btn{
    min-height: unset;
}
/* --------- */
#p13 .pg_top {
    width: 100%;
    height: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}


#p13 .pg_top .top {
    height: 25vh;
}

#p13 .pg_top .nav .nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#p13 .form {
    padding: 0;
    border: solid 1px #ccc;
}

#p13 .form .form-control {
    border: 0;
    border-radius: 0;
}

#p13 .form .form-select {
    border: 0;
    border-right: 1px solid #ccc;
    border-radius: 0;
    width: unset;
}

#p13 .form .btn{
    min-height: unset;
}