
.btn {
  min-height: 6vh;
}

.btn-y {
  background: #FAE100;
}

/* -------------------------------------------------------------------------------------- */
/*희영 test*/
.modal{
  top: 50%;
  left: 50%;
}

#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7
{
   display:none;
}/*가장 큰 페이지 수 만큼 늘리기*/

.pg_title{
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.page{
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.page .page_wrap {
  width: 100%;
  height: 100%;
}

.tempo_img{
  width: auto;
  height: auto;
  width: 400px;
  max-height: 768px;
  overflow: auto;
}
/*희영 test*/


a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

.bg_phone{
  background: #eee;
}

header {
  height: 7vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #e0e0e0;
}

h1 {
  font-size: clamp(24px, 20px + 2.3vw, 2.3em);
  font-weight: bold;
  display: inline;
}


h2 {
  font-size: clamp(24px, 13px + 2vw, 2em);
  font-weight: bold;
  display: inline;
}

h3 {
  font-size: clamp(18px, 18px + 1.3vw, 1.3em);
  font-weight: bold;
  display: inline;
  letter-spacing: 4px;
}

p {
  font-size: clamp(18px, 20px + 1.5vw, 1.5em);
}

#wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 375px;
  max-width: 480px;
  width: 100%;
  height: 100%;
  background: #eee;
}

#wrap .view {
  overflow: hidden;
  box-sizing: content-box;
  flex-basis: var(--screen-width);
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #fff;
}

#main {
  min-width: auto;
  height: 87vh;
  position: relative;
  /* padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto; */
}

#main {
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
}

#main::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.container {
  width: 100%;
  /* max-width: calc(100vh / 2); */
}

.hd_left,
.hd_right {
  width: 18%;
  text-align: center;
}

.hd_center {
  width: 64%;
  text-align: center;
}

.ctrlbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #E0E0E0;
  width: 100%;
  height: 13vh;
  padding: .5em;
}

.ctrlbar .baricon_wrap {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ctrlbar .baricon_wrap .baricon{
  width: clamp(63px, 80px + 1.5vw, 1.5em);
  height: clamp(63px, 80px + 1.5vw, 1.5em);
  background: #FFFFFF;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: .5em;
}

.ctrlbar .baricon_wrap .bartext{
  font-size: clamp(20px, 20px + 1vw, 1.2em);
  font-weight: bold;
  color: #424242;
}

.banner {
  width: 100%;
  height: 5em;
  border: 2px solid #e0e0e0;
  /* background: #e0e0e0; */
}

.form{
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
}

.back_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(30px, 30px + 1vw, 1.5em);
  height: clamp(30px, 30px + 1vw, 1.5em);
  background: white;
  box-shadow: 1px 1px 5px rgba(136, 136, 136, 0.7);
  border-radius: 100%;
  padding-top: 0.2em;
}

.icon_area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon_area .icon_wrap{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 3em;
  height: 3em;
  border: 2px solid #e0e0e0;
  /* background: #e0e0e0; */
}

.under_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.under_bar {
  position: absolute;
  left: 0; right: 0; bottom: 0;
}

.p-l-1 {
  padding-left: 1em;
}

.p-r-1 {
  padding-right: 1em;
}

.m-l-1 {
  margin-left: 1em;
}

.m-r-1{
  margin-right: 1em;
}