
.text-red {
    color: #E30A15;
}

.text-white {
    color: #fff;
}

.text-gray {
    color: #757575;
}

.page_wrap {
    background-color: black;
    color: #F8F9F9;
}

.top_bar {
    padding: 1em;
    height: 8vh;
}

.under_bar {
    min-height: 6vh;
    padding: 0.5em;
}

.netflix {
    width: 2em;
    height: 2.5em;
}

.user {
    width: 2em;
    height: 2em;
}

.contants {
    width: 5.5em;
    height: 14vh;
    margin-right: 0.3em;
}

.container {
    padding: 0.5em;
}


/* ---------------------------- */
#p0 .page_wrap {
    background-color: #fff;
}


#p1 .big_font {
    font-size: 4em;
    font-weight: bold;
}

#p2 .top_menu,
#p3 .top_menu,
#p4 .top_menu,
#p5 .top_menu,
#p6 .top_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


#p2 .poster,
#p3 .poster,
#p4 .poster,
#p5 .poster,
#p6 .poster {
    width: 100%;
    height: 30vh;
}

#p2 .play_btn,
#p3 .play_btn,
#p4 .play_btn,
#p5 .play_btn,
#p6 .play_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5em;
    min-height: 5vh;
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

#p2 .item,
#p3 .item,
#p4 .item,
#p5 .item,
#p6 .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: small;
    width: 33%;
}

#p3 .info_box,
#p2 .info_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 18vh;
    padding: 1em;
    background-color: #fff;
    color: black;
    border-radius: 10px;
}

#p3 .red_btn,
#p2 .red_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    min-height: 5vh;
    background-color: #E50913;
    color: #fff;
    font-size: small;
}

#p3 .red_btn {
    width: 7.5em;
}

#p6 .scroller,
#p4 .scroller {
    height: 80vh;
}

#p5 .scroller {
    height: 85vh;
}

#p5 .category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;

}

#p5 .dot {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p7 .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 7vh;
    background-color: #1A1A1A;
    border-radius: 5px;
    padding: 0.5em;
}

#p7 .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: #8F8F8F;
}

#p8 .user,
#p7 .user {
    width: 5em;
    height: 5em;
}

#p7 .user_b,
#p8 .user_b {
    width: 5em;
    height: 5em;
    border: 1px solid #fff;
}

#p8 .profile_add {
    width: 13em;
}


/* ------------------ JEI ------------------ */
/* .bg-darkgray {
    background: #262626!important;
} */

.bg-lightgray {
    background: #4F4F4F!important;
}

.text-lightgray {
    color: #BBBBBB;
}

.pg_top {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pg_top svg {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.scroller {
    width: 100%;
    height: 79vh;
}

#p9 .profile_wrap ,
#p12 .profile_wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}

#p9 .profile_wrap .profile ,
#p12 .profile_wrap .profile {
    width: 7em;
    height: 7em;
    border-radius: 5px;
    margin-bottom: 1em;
}

#p9 .profile_wrap .name ,
#p12 .profile_wrap .name {
    width: 60%;
    height: 7vh;
    background: #262626;
    padding: 1em;
    border-radius: 3px;
}

.tab {
    background: #1a1a1a;
    min-height: 10vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.tab:not(:last-child) {
    margin-bottom: 1em;
}

.tab .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tab .right {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tab .left .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1em;
}

.tab .left .txt .text-lightgray {
    font-size: smaller;
}

.tab .left svg,
.tab .right svg {
    width: 1.3em;
    height: 1.3em;
    color: #BBBBBB;
}

.tab .right .bi-toggle-on {
    width: 2em;
    height: 2em;
}

.bg-image {
    width: 100%;
    height: 27vh;
}

/* --------------- */
.text-xs {
    font-size: x-small;
}

#p10 .scroller,
#p11 .scroller {
    height: 69vh;
}

#p10 .under_bar,
#p11 .under_bar {
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: flex-end;
}

#p10 .under_bar .btn,
#p11 .under_bar .btn {
    min-height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p10 .bg-image,
#p11 .bg-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#p10 .tab,
#p11 .tab {
    min-height: 8vh;
    height: 8vh;
    padding: .3em;
    padding-left: 1em;
}

#p10 .right,
#p11 .right {
    height: 100%;
}

#p10 .right.size,
#p11 .right.size {
    width: 50%;
}

#p10 .text-shadow,
#p11 .text-shadow {
    text-shadow : 3px 3px 3px black;
}

#p10 .right .border-black,
#p11 .right .border-black {
    height: 100%;
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#p10 .right .border-black .size,
#p11 .right .border-black .size {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#p10 .right .border-black .size:not(:last-child),
#p11 .right .border-black .size:not(:last-child) {
    border-right: 2px solid #000;
}