
.text-red {
    color: #E30A15;
}

.text-white {
    color: #fff;
}

.text-gray {
    color: #757575;
}

.page_wrap {
    background-color: black;
    color: #F8F9F9;
}

.top_bar {
    padding: 1em;
    height: 8vh;
}

.under_bar {
    min-height: 6vh;
    padding: 0.5em;
}

.netflix {
    width: 2em;
    height: 2.5em;
}

.user {
    width: 2em;
    height: 2em;
}

.contants {
    width: 5.5em;
    height: 14vh;
    margin-right: 0.3em;
}

.container {
    padding: 0.5em;
}


/* ---------------------------- */
#p0 .page_wrap {
    background-color: #fff;
}


#p1 .big_font {
    font-size: 4em;
    font-weight: bold;
}

#p2 .top_menu,
#p3 .top_menu,
#p4 .top_menu,
#p5 .top_menu,
#p6 .top_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


#p2 .poster,
#p3 .poster,
#p4 .poster,
#p5 .poster,
#p6 .poster {
    width: 100%;
    height: 30vh;
}

#p2 .play_btn,
#p3 .play_btn,
#p4 .play_btn,
#p5 .play_btn,
#p6 .play_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5em;
    min-height: 5vh;
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

#p2 .item,
#p3 .item,
#p4 .item,
#p5 .item,
#p6 .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: small;
    width: 33%;
}

#p3 .info_box,
#p2 .info_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 18vh;
    padding: 1em;
    background-color: #fff;
    color: black;
    border-radius: 10px;
}

#p3 .red_btn,
#p2 .red_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    min-height: 5vh;
    background-color: #E50913;
    color: #fff;
    font-size: small;
}

#p3 .red_btn {
    width: 7.5em;
}

#p6 .scroller,
#p4 .scroller {
    height: 80vh;
}

#p5 .scroller {
    height: 85vh;
}

#p5 .category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;

}

#p5 .dot {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p7 .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 7vh;
    background-color: #1A1A1A;
    border-radius: 5px;
    padding: 0.5em;
}

#p7 .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: #8F8F8F;
}

#p8 .user,
#p7 .user {
    width: 5em;
    height: 5em;
}

#p7 .user_b,
#p8 .user_b {
    width: 5em;
    height: 5em;
    border: 1px solid #fff;
}

#p8 .profile_add {
    width: 13em;
}