/* ------------------------------------------P1------------------------------------------- */
#p1 .menu {
    font-size: larger;
    font-weight: bold;
}
#p1 .menu .container .btn {
    margin: 4em;
}

#p1 .under_bar {
    
    width: 100%;
    height: 10%;
    background: #fff;
    padding-top: 1em;
    border-top: 1px solid;
    border-radius: 0;
}