.top svg {
    width: 2em;
    height: 2em;
    color: white;
}

/* .icon_img.white{
    background : white;
} */

.cafebar {
    padding-left: 1em;
    padding-right: 1em;
}

.icon3 svg
 {
    color : white;
    width: clamp(24px, 15px + 2.3vw, 2.3em);
    height: clamp(24px, 15px + 2.3vw, 2.3em);
    padding-bottom: 5px;
}


#p8 #main,
#p9 #main {
    height: 77vh !important;
}

/* ---------- 230104 추가사항(이재이) ---------- */
/* 종료 페이지 번호 안 쓰면 우선순위 밀려서 적용 안 됨  */
/* 버튼 클릭되려면 컨패티캔버스 css 꼭 필요함 */
#p10 #confetti-canvas {
    width: 100%;
    height: auto;
    z-index: unset!important;
}
#p10 .btn_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
#p10 .btn_wrap .btn {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    border-radius: 15px;
}
/* 추후 수정 */
#p10 .btn_wrap .btn {   
    background: #6279b7;
    color: #fff;
}