.bg-or{
    background: #ED7732;
}

.bg-black {
    background: #000;
    color: #fff;
}

.text-or {
    color: #ED7732;
}

.btn-or{
    background: #ED7732!important;
    color: #fff!important;
}

.btn-w{
    background: #fff!important;
}

.btn-lightgray {
        background:#D1D1D1!important;
}

.bg-lightgray {
    background:#D1D1D1!important;
}

.text-lightgray {
    color: #D1D1D1!important;
}


/* ------------------------------------- */


.pg_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pg_top .top {
    width: 100%;
    min-height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ced4da;

}

.pg_top .svg {
    margin-left: .5em;
}


.scroller .tab {
    width: 100%;
    height: auto;
    padding-top: .5em;
    padding-bottom: .8em;
}
.scroller .tab:not(:last-child) {
    border-bottom: 1px solid #ced4da;
}

.scroller .tab .icon {
    width: 25%;
    height: auto;
    /* border: 0; */
    /* 나중에 주석 해제(수정) */
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroller .tab .txt-wrap {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0.5em;
}

.scroller .tab .txt-wrap .txt {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scroller .tab .txt-wrap .txt .svg {
    --bs-text-opacity: 1;
    color: rgba(0,0,0,.5)!important;
}

.scroller .tab .txt-wrap .txt.price {
    font-weight: bold;
    /* font-size: smaller; */
}

.scroller .tab .txt-wrap .txt.react {
    justify-content: flex-end;
}

.under_bar {
    width: 100%;
    border-radius: 0!important;
    background: #fff;
    border-top: 1px solid #ced4da;
}

.under_bar .baricon_wrap {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.under_bar .baricon_wrap .bartext {
    font-size: smaller;
}

.under_bar .baricon_wrap .baricon > svg {
    margin: 0;
}

.floating-button {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    right: 5%;
    bottom: 12%;
    z-index: 10;
  }

.floating-button > div svg {
    width: 1.5em;
    height: 1.5em;
}

.floating-button .btn-or,
.floating-button .btn-w {
    min-width: 3.5em;
    min-height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

/* ------------------------------------------------------------ */

#p1 .pg_top,
#p2 .pg_top {
    width: 100%;
    max-height: 79vh;
}
#p1 .under_bar,
#p2 .under_bar {
    min-height: 8vh;
}
#p1 .under_bar .baricon_wrap,
#p2 .under_bar .baricon_wrap {
    width: 25%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
#p1 .under_bar .baricon_wrap .baricon > svg,
#p2 .under_bar .baricon_wrap .baricon > svg {
    margin: 0;
}

#p1 .scroller .tab .icon,
#p2 .scroller .tab .icon {
    border: 0;
}

#p1 .floating-button .btn-or {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

#p2 .floating-button .bg-white {
    z-index: unset;
    min-width: 70%;

    border-radius: 11px;
}

#p2 .floating-button .bg-white .tab {
    min-height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .7em;
    padding-bottom: .7em;
}

#p2 .floating-button .icon {
    width: 1em;
    height: 1em;
    margin-right: .5em;
}

/* --------------------------------- */
svg {
    width: 1.3em;
    height: 1.3em;
}

 .pg_top {
    max-height: 82vh;
}

#p4 .pg_top
,#p6 .pg_top{
    max-height: 87vh;
}

.scroller .tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.scroller .tab .pic {
    min-width: 5em;
    min-height: 5em;
    background-size: cover;
    background-position: center;
}

.scroller .tab .form {
    border: 0;
    padding: 0;
    min-height: 5vh;
    align-items: center;
}

 .scroller .tab .form .form-control {
    border-radius: 0;
    border: 0;
    padding: 0;
    min-height: 5vh;
}

 .scroller .tab .form .textarea {
    width: 100%;
    min-height: 15vh;
    resize: none;
    margin-top: 1em;
}

#p3 .under_bar, #p5 .under_bar, #p7 .under_bar, #p8 .under_bar, #p9 .under_bar, #p10 .under_bar {
    height: 5vh;
    /* justify-content: flex-start; */
    padding-left: 1em;
}

 .under_bar .baricon_wrap {
    width: fit-content;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 1em;
}

 .under_bar .baricon_wrap .baricon > svg {
    margin-right: .5em;
}
/* ----------------------------------------- */
#p1 .btn-w {
    z-index: 25;
    background: transparent !important;
    color: #fff!important;
}
/* ----------------------------------------- */

#p3 #modal_ {
    border-radius: 15px;
}

#p3 #modal_ .content {
    padding: 1em;
}

#p3 #modal_ .btn_wrap{
    width: 100%;
    flex-direction: column;
}

#p3 #modal_ .btn_wrap .btn {
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center; align-items: center;
}

/* ----------------------------------------- */
#p4 .bg-image {
    width: 100%; height: 30vh; background-size: cover; background-position: center;
}

/* --------------------------------------- */
#p6 .svg {
    width: .7em;
    height: .7em;
}

#p6 .scroller .tab {
    justify-content: unset;
    align-items: unset;
    border: 0;
    padding: 0;
    padding-top: .5em;
    width: 100%;
    height: auto;
}

#p6 .scroller .tab .pic {
    width: 8.3em;
    height: 8.3em;

    margin-left: .3em;
    margin-right: .3em;
    margin-bottom: .5em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: .5em;
}

#p6 .pic {
    background-size: cover;
    background-position: center;
}

#p6 .scroller .tab .pic > img {
    width: 100%;
    height: auto;
}

/* ----------------------------------------- */
#p10 .pg_top .top .text-or {
    background-color: #fff;
}

/* ----------------------------------------- */
#p11 .pg_top,
#p12 .pg_top {
    max-height: 87vh;
}

#p11 .pg_top .top,
#p12 .pg_top .top {
    flex-direction: column;
    align-items: flex-start;
    border: 0;
}

#p11 .bg-image,
#p12 .bg-image {
    width: 100%; height: 100%; background-size: cover; background-position: center;
}

#p11 .under_bar .btn,
#p12 .under_bar .btn {
    min-height: 6vh;
    font-weight: bold;
}

#p11 .under_bar {
    min-height: 10vh;
    background: unset;
    border: 0;
}

#p12 .under_bar {
    min-height: 22vh;
    flex-direction: column;
    justify-content: space-between;
    border: 0;
    padding: 0;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
}

#p12 .under_bar .btn{
    border-radius: 0;
    margin: 0;
}