.page_wrap {
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg_top {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pg_top .tab {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    padding-top: .5em;
    padding-bottom: .5em;
}

.pg_top .tab.selected {
    color:#F4A224;
    border-bottom: 5px solid #F4A224;
}

.pg_top svg {
    width: 1.5em;
    height: 1.5em;
}

.pg_top .right {
    width: 2em;
    height: 2em;
}

.btn-outline-b {
    background: #fff;
    border-color:#0D4DAE!important;
    color:#0D4DAE!important;
    border-radius: 0;
}

.border-b {
    border:1.5px solid #0D4DAE!important;
}

.bg-lightgray {
    width: 100%;
    background: #F3F4F9;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.text-lightgray {
    color:#b3b3b3;
}

.text-gray {
    color: #737780;
}

.text-or {
    color: #F4A224;
}

.tax.btn-b, .bg-b {
    background: #0D4DAE!important;
    color: #fff;
}

.text-b{
    color:#0D4DAE!important;
}

  .text-xs {
    font-size: x-small;
  }

  .w-49{
    width: 49%;
  }
/* ---------------------------------------- */
.under_bar {
    height: 7vh;
    background: #fff;
    border-radius: 0!important;
    border-top: var(--bs-border-width) var(--bs-border-style) #989CA5;
}

.under_bar .baricon_wrap {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.under_bar .baricon_wrap .bartext {
    font-size: smaller;
}




/* ----------------------------------------------------------------------------- */
#p1 .icon,
#p2 .icon,
#p3 .icon,
#p4 .icon,
#p5 .icon,
#p6 .icon,
#p7 .icon,
#p8 .icon {
    height: 100%;
    border: 0;
}

#p1 .scroller svg,
#p1 .svg {
    width: 1em;
    height: 1em;
}

#p1 .scroller {
    width: 100%;
    height: 59vh;
}
#p1 .bg-lightgray .tab_top {
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#p1 .bg-lightgray .dot {
    width: 2em;
    height: auto;
}

#p1 .bg-lightgray .menu {
    background: #fff;
    width: 100%;
    min-height: 6vh;
    padding-top: .5em; padding-bottom: .5em;
    padding-left: .7em; padding-right: .7em;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 3px rgba(182, 182, 182, 0.15);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#p1 .bg-lightgray .menu:not(:last-child) {
    margin-bottom: .7em;
}

#p1 .bg-lightgray .menu svg {
    margin-right: .7em;
}

#p1 .banner {
    min-height: 15vh;
}

#p1 .btn {
    background: #fff;
    display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------ */
#p2 .bg-lightgray ,
#p3 .bg-lightgray {
    justify-content: flex-start;
}
#p2 .menu ,
#p3 .menu {
    background: #fff;
    width: 100%;
    min-height: 6vh;
    padding-top: .5em; padding-bottom: .5em;
    padding-left: .7em; padding-right: .7em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#p2 .box-shadow ,
#p3 .box-shadow {
    box-shadow: 0px 0px 5px 3px rgba(182, 182, 182, 0.15);
}

#p2 .menu:not(:last-child),
#p3 .menu:not(:last-child){
    margin-bottom: .7em;
}

#p2 .menu .left ,
#p3 .menu .left {
    flex: 1;
    display: flex;
    align-items: center;
}

#p2 .menu .left svg,
#p3 .menu .left svg,
#p2 .menu .left .wrapper ,
#p3 .menu .left .wrapper {
    width: 1em;
    height: 1em;
    margin-right: .5em;
    color:#F4A224;
}

#p2 .menu .left .wrapper svg ,
#p3 .menu .left .wrapper svg {
    width: .5em;
    height: .5em;
    margin: 0;
}

#p2 .menu .right ,
#p3 .menu .right {
    width: fit-content;
}

#p2 .menu .right .bi-chevron-down ,
#p3 .menu .right .bi-chevron-up {
    width: 1.5em;
    height: 1.5em;
}

#p2 .scroller ,
#p3 .scroller,
#p5 .scroller,
#p6 .scroller,
#p7 .scroller,
#p8 .scroller {
    width: 100%;
    height: 66vh;
}

/* ------------------------------------------ */
#p3 .menu {
    flex-direction: column;
}

#p3 .menu .menu_title {
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#p3 .menu .detail > ul li {
    min-height: 5.5vh;
}


/* -------------------------------------------- */
#p4 .wrapper {
    width: 100%;
}

#p4 .tab.notice {
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #737780;
}

#p4 .tab.tab.notice .left svg {
    width: 1.5em;
    height: 1.5em;
}

#p4 .tab .left svg {
    width: 1.8em;
    height: 1.8em;
}

#p4 .tab {
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#p4 .tab .w-35 {
    width: 35%;
}

#p4 .tab .right .text-danger {
    display: contents;
}

/* ------------------------------- */

#p4 .under_bar,
#p5 .under_bar,
#p6 .under_bar,
#p7 .under_bar,
#p8 .under_bar {
    height: 7vh;
    padding: 1em;
}

#p4 .btn,
#p5 .btn,
#p6 .btn,
#p7 .under_bar .btn,
#p8 .under_bar .btn {
    width: 100%;
    min-height: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------ */
.text-mint {
    color: #81CCC7;
}

#p5 .tab svg,
#p6 .tab svg,
#p7 .tab svg,
#p8 .tab svg {
    width: 1em;
    height: 1em;
}

#p5 .tab.title,
#p6 .tab.title,
#p7 .tab.title,
#p8 .tab.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5 .detail .tab,
#p6 .detail .tab,
#p7 .detail .tab,
#p8 .detail .tab {
    list-style-type: square;
}

#p5 .text-gray li,
#p6 .text-gray li,
#p7 .text-gray li,
#p8 .text-gray li {
    min-height: 5vh;
    align-items: center;
    list-style-type: disc;
}

#p5 .tab.check,
#p6 .tab.check,
#p7 .tab.check,
#p8 .tab.check {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#p5 .tab.check svg,
#p6 .tab.check svg,
#p7 .tab.check svg,
#p8 .tab.check svg {
    width: 1.5em;
    height: 1.5em;
}

#p7 #modal_,
#p8 #modal_ {
    border-radius: 10px;
}

#p7 #modal_ .content,
#p8 #modal_ .content {
    padding: 1.5em;
}

#p7 #modal_ .content .title {
    width: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: .5em;
  }

#p8 #modal_ .content .title {
    width: 100%;
    padding-bottom: .5em;
}

  #p7 #modal_ .content .title svg,
  #p8 #modal_ .content .title svg {
    width: 1.5em;
    height: 1.5em;
  }

#p7 #modal_ .content .modal_cont,
#p8 #modal_ .content .modal_cont {
    width: 100%;
    text-align: left;
    padding-top: 1em;
}

#p8 #modal_ .content .modal_cont {
    text-align: center;
}

#p7 .modal_bottom_wrap,
#p8 .modal_bottom_wrap {
    width: 100%;
    height: 5.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
#p7 .modal_bottom_wrap .btn_wrap,
#p8 .modal_bottom_wrap .btn_wrap {
    height: 100%;
    width: 100%;
}

#p7 .modal_bottom_wrap .btn_wrap .btn,
#p8 .modal_bottom_wrap .btn_wrap .btn {
    /* width: unset; */
    min-height: unset;
    height: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p7 .modal_bottom_wrap .btn_wrap .btn-gray {
    background: #aaa!important;
    border-bottom-left-radius: 10px;
}

#p7 .modal_bottom_wrap .btn_wrap .btn-b,
#p8 .modal_bottom_wrap .btn_wrap .btn-b {
    border-bottom-right-radius: 10px;
}

#p8 .modal_bottom_wrap .btn_wrap .btn-b {
    border-bottom-left-radius: 10px;
}

#p8 #modal_  {
    min-height: unset;
}