.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 15vh;
    border: 2px solid #e0e0e0;
    background: #ffffff;
  }

.top_bar {
    padding: 0.5em;
    min-height: 6vh;
    display: flex;
    align-items: center;
}

.border_b {
    border-bottom: 1px solid #838383;
}

.btn_T {
    margin-top: 0.3em;
    background-color: #3B434E;
    color: #fff;
    width: 100%;
    min-height: 7vh;
    border-radius: 5px;
}

.btn_db {
    background-color: #BCC3CD;
    color: #fff;
    width: 100%;
    min-height: 7vh;
}

.btn_b {
    background-color: #3C4250;
    color: #fff;
    width: 100%;
    min-height: 7vh;
}

.btn_g {
    background-color: #888888;
    color: #fff;
    width: 100%;
    min-height: 7vh;
}

.btn_P {
    background-color: #FF394A;
    color: #fff;
    width: 100%;
    min-height: 7vh;
}

.sel_icon {
    border-color: red !important;
}

.pass {
    padding: 1em;
}

.pass_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1.5em;
    background-color: #FE3A4E;
    color: #fff;
    font-weight: bold;
    margin: 0.1em;
}

/* ------------------------------- */


.fontW {
    color: #fff;
}

.fontM {
    color: #5EB8CC;
}

.fontB {
    color: #326C98;
}

.fontG {
   color: #134851;
}

.fontR {
    color: #A1505A;
}
.fontO {
    color: #FFA200;
}

.fontP {
    color: #FF394A;
}

.gray {
    color: #BCC3CD;
}

  /* ------------------------------- */
#p1 .banner,
#p8 .banner,
#p9 .banner,
#p10 .banner,
#p11 .banner,
#p12 .banner,
#p18 .banner {
    border: unset;
    background: unset;
}

#p2 .scroller {
    height: 87vh;
}

#p2 .page_wrap {
    background-color: #FAFAFA;
}

#p2 .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    min-height: 2.5em;
    background-color: #D7F1EE;
    border-radius: 5px;
    margin-right: 0.5em;
}

#p2 .css_toggle {
    background-color: #aeaeae !important;
    border: 2px solid #aeaeae !important;
}

#p2 .container {
    padding: 1em;
    padding-top: 3em;
}

#p2 .item {
    margin-top: 1em;
}

#p3 .icon {
    width: 70%;
    min-height: 70%;
    border: 2px solid #e0e0e0;
}

#p3 .border_M {
    border-bottom: 1px solid #64B4C6;
}

#p3 .container {
    width: 100%;
    height: 82%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#p3 .container .tab {
    height: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: .5em;
}

#p3 .under_bar {
    height: 18%;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

#p6 .icon,
#p5 .icon,
#p4 .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.5em;
    min-height: 20vh;
}

#p6 .scroller,
#p5 .scroller,
#p4 .scroller,
#p12 .scroller {
    height: 73vh;
}

#p14 .scroller,
#p15 .scroller {
    height: 81vh;
}

#p5 .css_toggle {
    /* background-color: #828282 !important; */
    color: #c5c5c5 !important;
}

.input_box {
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    width: 100%;
    min-height: 7vh;
    border: 2px solid #e0e0e0;
}

.btn_border {
    border: 2px solid #FF394A;
    width: 100%;
    min-height: 7vh;    
}

#p7 .background {
    width: 100%;
    min-height: 20vh;
    padding: 1em;
    padding-top: 3em;
    background-color: #EEEFF3;
}

.short_box {
    display: flex;
    align-items: center;
    width: 2em;
    min-height: 7vh;
    border: 2px solid #e0e0e0;
}

.btn_gg {
    border: 2px solid #888888;
    color: #888888;
    width: 100%;
    min-height: 7vh;
}

#p13 .pop_up {
    width: 20em;
    min-height: 30vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#p16 .agree,
#p15 .agree,
#p14 .agree {
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    width: 100%;
    min-height: 8vh;
    border: 2px solid #e0e0e0;
}

#p15 .round,
#p14 .round {
    border-radius: 5px;
}

#p14 .scroller
#p15 .scroller {
    height: 80vh;
}

#p14 .container
#p15 .container {
    height: 71vh !important;
}

#p16 .pop_up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
    min-height: 32vh;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#p17 .icon {
    width: 100%;
    height: 94%;
    border: unset;
}

#p17 .border_b {
    border-bottom: 1px solid #64B4C6;
}

#p17 .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#p18 .page_wrap {
    background-color: #FAFBFD;
}

#p18 .line {
    border-bottom: 1px solid #D1D2D1;
}

#p18 .ride {
    width: 20%;
    min-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#p18 .boxx {
    background-color: #fff;
    margin: 1em;
    border-radius: 10px;
}

#p18 .top_boxx {
    background-color: #F4F5F7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#p18 .btn {
    width: 90%;
    min-height: 4vh;
    color: #fff;
    background-color: #51BED5;
    border-radius: 5px;
    margin-bottom: 1em;
}

#p18 .scroller {
    height: 48vh;
}

#p18 .under_bar {
    
    width: 100%;
    min-height: 6vh;
    background: #fff;
    padding-top: 1em;
    border-radius: 0;
    min-height: 8vh; 
    border-top: 2px solid #e0e0e0;
}

/* #p17 .icon {
    border: unset;
} */

#p18 .icon {
    width: 5em;
    margin-bottom: 1em;
    border: unset;
}