.page_wrap {
    height: 87vh;
}

/* ---------------------------------- */



/* ---------------------------------- */
.pg_top {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pg_top.top {
    height: 18vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pg_top.top .tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: normal;
    padding-top: .5em;
}

.pg_top.top .tab svg {
    width: 1em;
    height: 1em;
}

.pg_top .top_svg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg_top .top_svg svg {
    margin-left: .2em;
    margin-right: .2em;
}

.pg_top svg {
    width: 1.3em;
    height: 1.3em;
}

.under_bar {
    height: 10vh;
    align-items: flex-start;
}

/* ---------------------- */
.btn-navy {
    background: #1E2A52 !important;
    color: #fff !important;
}

.btn-b {
    color: #fff !important;
    background: #386CE2 !important;
    border-radius: 0;
}

.btn-outline-gray {
    background: #fff;
    border-color: #979797 !important;
}


.bg-lightgray {
    width: 100%;
    background: #e8e8e8;
    display: flex;
    flex-direction: column;
}

.text-lightgray {
    color: #D1D1D1;
}


.text-b {
    color: #386CE2 !important;
}

.text-gray {
    color: #737780;
}


/* ------------- Modal -------------- */
#modal_ .content {
    padding-bottom: 1em;
}

#modal_ .modal_cont .fw-bold {
    display: contents;
}

#modal_ .content svg,
.modal_bottom_wrap .btn_wrap .tab {
    color: #009688;
}

#modal_ .btn_wrap {
    width: 100%;
    flex-direction: column;
}

#modal_ .btn_wrap .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#modal_ svg {
    width: 1.5em;
    height: 1.5em;
    margin-bottom: 1em;
}

.modal_bottom_wrap {
    width: 100%;
    padding-bottom: 1.5em;
}


/* ------------------------------------ */
.page_wrap {
    height: unset;
}

.bg-image {
    width: auto;
    height: 100%;
}


.btn {
    min-height: 7vh!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    align-items: flex-end;
    padding-top: 0!important;
}

.form-control, .form-select {
    background-color: unset!important;
    border-radius: 0!important;
    border: 0!important;
    padding: 0!important;
    border-bottom: 1.5px solid #979797!important;
}

/* ---------------------------------- */

#p5 .bg-lightgray,
#p6 .bg-lightgray,
#p7 .bg-lightgray {

    align-items: center;
}

#p5 .tab,
#p6 .tab,
#p7 .tab {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}

#p5 .tab.top,
#p6 .tab.top,
#p7 .tab.top {
    height: 27vh;
    justify-content: center;
}

#p5 .tab.detail .left,
#p6 .tab.detail .left,
#p7 .tab.detail .left {
    width: 3em;
    height: 3em;
    background: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5 .tab .right,
#p6 .tab .right,
#p7 .tab .right {
    flex: 1;
}

#p5 .tab svg,
#p6 .tab svg,
#p7 .tab svg {
    width: 1.5em;
    height: 1.5em;
}

#p5 .tab.notice svg,
#p6 .tab.notice svg,
#p7 .tab.notice svg {
    width: 1em;
    height: 1em;
}

#p5 .border-top-bottom,
#p6 .border-top-bottom,
#p7 .border-top-bottom {
    border-top: var(--bs-border-width) var(--bs-border-style) #cecece;
    border-bottom: var(--bs-border-width) var(--bs-border-style) #cecece;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* -------------- p8-14 ------------- */
.container .tab:not(:last-child) {
    margin-bottom: .5em;
}

.scroller {
    height: 52vh;
}


/* ---------------------------------- */
#p12 .under_bar,
#p13 .under_bar {
    background: #fff;
    min-height: 48vh;
    flex-direction: column;
    justify-content: space-between;
}

#p12 .under_bar .btn,
#p13 .under_bar .btn {
    width: 100%;
    justify-content: flex-start;
}

#p12 .under_bar .btn-navy,
#p13 .under_bar .btn-navy {
    justify-content: center;
}

#p12 .under_bar .btn svg,
#p13 .under_bar .btn svg {
    margin-right: .5em;
    width: 1.3em;
    height: 1.3em;
}

/* ------------------------------------ */
#p14 .under_bar{
    height: 22vh;
    flex-direction: column;
    justify-content: space-between;
}

/* ---------------------------------- */
#p15 .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    padding: 0;
}

#p15 .pw_wrap {
    height: 15vh;
    background: #E5E5E5;
    border: 1px solid #a9a9a962;
    border-radius: 3px;
}

#p15 .nav .nav-item {
    width: 100%;
    display: flex;
    align-items: center;
}

#p15 .nav .nav-item .dot {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background: #a9a9a9;
    border-radius: 100%;
    margin: 0 .5em;
}

#p15 .under_bar {
    width: 100%;
    height: 26vh;
    background: #D2D2D2;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

#p15 .under_bar .tab {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    margin-top: .25em;
    margin-bottom: .25em;
}

#p15 .under_bar .tab .key {
    width: 25%;
    height: 100%;
    background: #fff;
    color: #375BA9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .25em;
    margin-right: .25em;
}

#p15 .under_bar .tab .key.none {
    background: none;
}

#p15 .under_bar .tab .btn {
    width: 50%;
    margin-left: .25em;
    margin-right: .25em;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p15 .under_bar .tab .btn-w {
    background: #fff;
    color: #375BA9;
    font-weight: bold;
}

#p15 .under_bar .tab .btn-b {
    background: #375BA9;
    color: #fff;
}