.rotate-180 {
    transform: rotate(-180deg);
}

.color-b {
    color : #4666C9 !important;
}

.page_wrap {
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg {
    width: 1.3em;
    height: 1.3em;
}

.btn {
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.image {
    height: 100%;
}

/* ----------------------------------------- */
.pg_top {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pg_top .center {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg_top .left,
.pg_top .right {
    width: 20%;
    display: flex;
    align-items: center;
}

.pg_top .tab {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    padding-top: .5em;
    padding-bottom: .5em;
}

.pg_top .tab.selected {
    color:#F4A224;
    border-bottom: 5px solid #F4A224;
}

.pg_top svg,
.pg_top .right svg {
    width: 1.5em;
    height: 1.5em;
}

.pg_top .left svg {
    width: 2em;
    height: 2em;
}

.search {
    width: 100%;
    margin-top: 1em;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 13px;
    border: 2px solid #4A80E2;
    color:#b3b3b3;

}

.wrapper {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1.5em;
    margin-bottom: 1em;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
}

.tab {
    width: 100%;
    min-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.icon {
    height: 100%!important;
    border: 0!important;
}

/* ------------------------------------------ */

.btn-darkgray {
    background: #313131!important;
    color: #fff!important;
}

.btn-outline-gray {
    background: #fff!important;
    border:1px solid #56647E!important;
    color:#56647E!important;
}

.btn-outline-b {
    background: #fff!important;
    border:1px solid #4A80E2!important;
    color:#4A80E2!important;
}

.btn-b {
    background: #4A80E2!important;
    color:#fff!important;
}

.border-b {
    border:1.5px solid #4A80E2!important;
}

.border-navy {
    border:1.5px solid #385396!important;
}


.bg-lightgray {
    width: 100%;
    background: #F3F4F9;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.bg-b {
    background: #4A80E2!important;
    color: #fff;
}

.text-lightgray {
    color:#b3b3b3;
}

.text-lighter-gray{
    color:#dedede;
}

.text-gray {
    color: #737780;
}

.text-grayb {
    color: #56647E;
}

.text-b{
    color:#4A80E2!important;
}

.text-lightb {
    color: #B0C6EB;
}

.text-navy {
    color: #385396 !important;
}

.text-r {
    color: #AC5C63!important;
    display: contents;
}

.text-xs {
    font-size: x-small;
}

.font-bold {
    font-weight: bold;
}


/* ---------------------------------------- */
.under_bar {
    height: 7vh;
    background: #fff;
    border-radius: 0!important;
    border-top: var(--bs-border-width) var(--bs-border-style) #989CA5;
}

.under_bar .baricon_wrap {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.under_bar .baricon_wrap .bartext {
    font-size: smaller;
}

.scroller {
    width: 100%;
    height: 77vh;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#p5 #modal_ {
    border-radius: 5px;
}

#modal_ .btn_wrap {
    width: 100%;
    justify-content: center;
    padding-bottom: 1em;
}


/* p1 ------------------------------------- */
#p1 .banner {
    min-height: 15vh;
    border-radius: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.wrapper .detail .tab {
    height: 13vh;
    /* padding: 1.5em; */
    margin-top: 1em;
    padding: .5em;
    word-break: break-all;
    word-wrap:break-word;
}

#p1 .onestop img {
    width: 3em;
    height: 3em;
    margin-bottom: .5em;
}

#p1 .tab.dot_wrap svg {
    width: 2em;
    height: 2em;
}

#p1 .share {
    width: .7em;
    height: .7em;
}


#p1 ul li .left {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

/* ------------------------------------------ */
#p2 .scroller,
#p3 .scroller,
#p4 .scroller,
#p5 .scroller {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.pg_2_selected_css {
    color : #4666C9 ;
}

#p2 .wrapper {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

#p2 .wrapper .tab {
    border-radius: 0;
}

#p2 .wrapper .tab.txt {
    justify-content: flex-start;
    text-align: left;
}

#p2 .bg-lightgray {
    padding: 1em;
    border: 1.5px solid #E5E5E5;
    max-height: 13vh;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

#p2 .text-b,
#p3 .text-b,
#p4 .text-b,
#p5 .text-b {
    display: contents;
}

.border-dashed-bottom {
    border-bottom: 2px #000!important;
    border-style:dashed!important;
}


/* ---------------------------------------- */
#p3 .tab ,
#p4 .tab ,
#p5 .tab {
    border-radius: 5px;
    justify-content: space-between;
    min-height: 5vh;
}

#p3 .wrapper ,
#p4 .wrapper ,
#p5 .wrapper {
    min-height: 7vh;
    border-radius: 5px;
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}

#p3 .toggle svg ,
#p4 .toggle svg ,
#p5 .toggle svg {
    width: 2.5em;
    height: 2.5em;
}


#p3 .wrapper.checklist ,
#p4 .wrapper.checklist ,
#p5 .wrapper.checklist {
    padding: 0;
}

#p3 .wrapper.checklist .tab ,
#p4 .wrapper.checklist .tab ,
#p5 .wrapper.checklist .tab {
    padding: .7em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    word-break: break-all;
    word-wrap:break-word;
}

#p3 .tab .left,
#p4 .tab .left,
#p5 .tab .left,
#p3 .tab .right ,
#p4 .tab .right ,
#p5 .tab .right {
    display: flex;
    align-items: center;
    /* height: 5vh; */
}

#p3 .tab .left ,
#p4 .tab .left ,
#p5 .tab .left {
    flex:1;
    justify-content: flex-start;
}

#p3 .tab .left img ,
#p4 .tab .left img ,
#p5 .tab .left img {
    width: 2em;
    height: 2em!important;
    /*아래는 이미지 삽입 후 주석처리*/
    /* background-color: #e0e0e0;  */
    border-radius: 5px;
    margin-right: .5em;
}

#p3 .tab .right ,
#p4 .tab .right ,
#p5 .tab .right {
    width: 35%;
    justify-content: flex-end;
}

#p3 .tab .right .check ,
#p4 .tab .right .check ,
#p5 .tab .right .check {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p3 .wrapper.checklist.service .left ,
#p4 .wrapper.checklist.service .left ,
#p5 .wrapper.checklist.service .left {
    flex: 1;
    color: #b3b3b3;
    padding-right: .3em;
}

#p3 .wrapper.checklist.service .left svg ,
#p4 .wrapper.checklist.service .left svg ,
#p5 .wrapper.checklist.service .left svg {
    margin-right: .5em;
}

#p3 .wrapper.checklist.service .right ,
#p4 .wrapper.checklist.service .right ,
#p5 .wrapper.checklist.service .right {
    width: fit-content;
    height: 100%;
    padding: .5em;
    padding-top: .1em;
    padding-bottom: .1em;
    justify-content: center;
   font-size: smaller;
   border-radius: 5px;
}

#p3 .bg-lightgray,
#p4 .bg-lightgray,
#p5 .bg-lightgray {
    justify-content: flex-start;
}

/* ---------------- */
.pg_4_selected_css {
    color : #4666C9 ;
}


#p5 .scroller {
    scroll-behavior: unset;
    overflow-y: unset;
}