.toss.btn-b {
    color: #fff!important;
    background: #4880EE!important;
    border-radius: 20px;
    margin-bottom: 1em;
    min-height: 5.5vh;
    font-size: xx-large;
}
.toss.btn-c {
    color: #4880EE!important;
    background: #EAF3FE!important;
    border-radius: 20px;
    margin-bottom: 1em;
    font-size: xx-large;
}

.toss.btn-d {
    color: #4880EE!important;
    background: #EAF3FE!important;
    border-radius: 20px;
    margin-bottom: 1em;
    font-size: xx-large;
}

.toss.btn-disabled {
    color: #FFFFFF!important;
    background: #89ADF4!important;
    border-radius: 20px;
    margin-bottom: 1em;
    font-size: xx-large;
}

.tab {
    border-bottom: solid;
    border-bottom-color: rgb(214, 214, 214);
    /* padding-left: 3em; */
    padding-left: 0.2em;
}

.back {
    padding: 1em;
    padding-bottom: 2em;
}

.num {
    font-size:xx-large;
    width: 3em;
    display: flex;
    justify-content: center;
}

.top_bar {
    display: flex;
    justify-content: start;
    padding: 0.5em;
}

.under_bar {
    width: 100%;
    background: #fff;
    border-radius: 0;
    min-height: 8vh; 
}

.info {
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: start;
    padding-left: 0.5em;
    padding: 0.8em;
}

.sm_info {
    padding: 0.2em;
}
.container {
    padding: 1em !important;
}

.box {
    width: 100%;
    height: 50%;
    min-height: 6vh;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.gap {
    width: 100%;
    padding: 1em;
    padding-bottom: 0.5em;
}

.btn_g {
    background: #F5F7F9 !important;
}

/* <--------------------------------------> */

#p2 .container {
    /* padding: 0em;
    padding-top: 4em; */
}

#p4 .list {
    padding: 0.5em;
    font-size: large;
}

#p4 .under_bar,
#p8 .under_bar
{
    min-height: 55%;
    bottom : 1em !important;
    left : 1.5em !important;
    right : 1.5em !important;
    width: 90% !important;
    border-radius: 20px;
}
#p8 .under_bar{
    padding-top : 2em !important;
    padding-bottom : 2em !important;
    min-height : 35%;
}
#p4 .info {
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
/* <--------------------------------------> */

/* #p2 .container
#p4 .container {
    padding: 1em;
} */

#p6 .under_bar {
    min-height: 70%;
    bottom : 1em !important;
    left : 1.5em !important;
    right : 1.5em !important;
    width: 90% !important;
    border-radius: 20px;
}

#p6 .list {
    padding: 1em;
    padding-top: 0.3em;
}

#p6 .toss.btn-b {
    margin-top: 0;
    margin-bottom: 0;
}

#p7 button {
    min-width: 20vh;
}

#p8 .under_bar {
    height: 30%;
}

#p8 .info {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 1em;
}

#p8 .font_edit{
    padding: 0.8em !important;
}

#p9 .under_bar {
    padding-bottom: 4em;
}
#p9 .btn {
    font-size: xx-large;
    font-weight: bold;
}

#p9 .toss.btn-b {
    color: #fff!important;
    background: #4880EE!important;
    border-radius: unset;
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: 5.5vh;
}

#p10 .txt {
    color: #bebebe;
    font-weight: bold;
}

#p10 .num {
    font-size:xx-large;
    width: 3em;
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding-top: .2em;
    padding-bottom: 0.em;
}

#p10 {
    background-color: #262B3F;
}

#p10 .under_bar_keypad {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    min-height: 35vh;
}


#p10 .nav .nav-item {
    width: 100%;
    display: flex;
    align-items: center;
}

#p10 .container {
    width: 100%;
    padding-top: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#p10 .top-expl {
    min-height: 20vh;
}

#p10 .dot {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background: #4f4f5a;
    border-radius: 100%;
    margin: 0 .5em;
}

#p10 .back { 
    color: #bebebe;
    padding-top: 2.5em;
}

/* +++++ */

#p11 .txt {
    color: #bebebe;
    font-weight: bold;
}

#p11 .num {
    font-size:xx-large;
    width: 3em;
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding-top: .2em;
    padding-bottom: 0.em;
}

#p11 {
    background-color: #262B3F;
}

#p11 .under_bar_keypad {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    min-height: 35vh;
}


#p11 .nav .nav-item {
    width: 100%;
    display: flex;
    align-items: center;
}

#p11 .container {
    width: 100%;
    padding-top: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#p11 .top-expl {
    min-height: 20vh;
}

#p11 .dot {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background: #777777;
    border-radius: 100%;
    margin: 0 .5em;
}

#p11 .back { 
    color: #bebebe;
    padding-top: 2.5em;
}

#p10 .dotFilled, #p11 .dotFilled {
    background: #ffffff !important;
}
/* +++++ */
#p12 .top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}
 #p12 .box {
    width: 100%;
    height: unset;
    min-height: 6vh;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #p12 .gap {
    width: 100%;
    padding: 1em;
    padding-bottom: 0.5em;
}

#p12 .icon {
    padding: 1em;
}

.f_lg {
    font-size: large;
    font-weight: bold;
}

#p12 .btn {
    width: 20%;
}